@using Resources
@using Photogram.WebApp.Models
@using System.Drawing;

@model Media

@{
    Layout = null;
    
    string projectTitle;
    string titleStyle;
    
    if (Model.Project != null)
    {
        projectTitle = Model.Project.Title.FirstOrDefault().Text;
        titleStyle = "info";
    }
    else
    {
        projectTitle = Localization.NoProject;
        titleStyle = "warning";
    }
}

<div class="pckry-item" id="@Model.Id.ToString()">
    <a href="javascript:lightView('Image/@Model.FileName/')"
       class=" btn btn-default btn-xs thumb-magnifier noselect"
       title="@Localization.ZoomIn">
        <span class="glyphicon glyphicon-fullscreen"></span>
    </a>
    <img src="@Url.Content(String.Concat("~/Image/2000/200/", Model.FileName, "/"))"
         class="pckry-img" />
    <div class="label label-@titleStyle thumb-project-title">@projectTitle</div>
    @*<div class="btn-group thumb-btn-group noselect" role="group">
    @Ajax.ModActionLink("<span class=\"glyphicon glyphicon-remove\"></span>",
        "DeleteJson",
        "Media",
        new { mediaId = Model.Item.Id },
        new AjaxOptions
        {
            Confirm = Localization.ConfirmDeleteItem,
            OnFailure = "DelOnFailure(xhr, status, error)",
            OnSuccess = "DelOnSuccess(data, status, xhr)",
            HttpMethod = "Post"
        },
        new
        {
            @class = "btn btn-danger btn-xs thumb-delete",
            id = "dm-" + Model.Item.Id,
            title = Localization.DeleteItem,
            type = "button"
        }
    )

        <div class="btn-group thumb-project-group noselect" role="group">
            <button type="button"
                    class="btn btn-default btn-xs dropdown-toggle thumb-project-dropdown-toggle noselect"
                    id="sp-@Model.Item.Id"
                    data-toggle="dropdown"
                    data-loading-text="@Localization.Loading..."
                    aria-expanded="false"
                    title="@Localization.ProjectSelect">
                @if (null != Model.Item.Project)
                {
                    @Model.Item.Project.Title.FirstOrDefault().Text
                }
                else
                {
                    @Localization.NoProject
                }
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right noselect" role="menu">
                @foreach (var project in Model.Projects)
                {
                    <li class="thumb-proj-item noselect @Model.Item.Id">
                        @Ajax.ActionLink(project.Title.FirstOrDefault().Text,
                            "SetProject", new { mediaId = Model.Item.Id, projectId = project.Id },
                            new AjaxOptions
                            {
                                //OnBegin = "function(){ return onBegin('sp-\" + " + Model.Item.Id + " + \"'); }",
                                OnFailure = "SetProjOnFailure(xhr, status, error)",
                                OnSuccess = "SetProjOnSuccess(data, status, xhr)",
                                HttpMethod = "Post"
                            }
                        )
                    </li>
                }
                <li class="divider"></li>
                <li class="thumb-proj-item noselect @Model.Item.Id">
                    @Ajax.ActionLink(Localization.NoProject,
                        "SetNoProject", new { mediaId = Model.Item.Id },
                        new AjaxOptions
                        {
                            OnFailure = "SetNoProjOnFailure(xhr, status, error)",
                            OnSuccess = "SetNoProjOnSuccess(data, status, xhr)",
                            HttpMethod = "Post"
                        }
                    )
                </li>
            </ul>
        </div>
    </div>*@
</div>
