@using Resources
@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.MainTitle - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/grayscale")
    @Styles.Render("~/Content/font-awesome")

    <link rel="icon" type="image/png" href="~/Content/icon.png" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Vollkorn:400italic,700,700italic,400' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">  var appInsights=window.appInsights||function(config){    function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t    }({        instrumentationKey:"a793926a-cbae-4d2c-a763-b35846bbb15f"    });           window.appInsights=appInsights;    appInsights.trackPageView();</script>
</head>
<body id="page-top" data-spy="scroll" data-target=".nav-spytarget">

    <div class="container-fluid container-fullpage">
        @RenderBody()
        <footer class="row">
            <div class="text-center col-sm-8 col-sm-offset-2">
                <p>@ViewBag.Footer @DateTime.Now.Year</p>
            </div>
            <div class="text-center col-sm-2">
                <a href="https://github.com/sardnarellum/Photogram" target="_blank" class="photogram-credit">Photogram @typeof(MvcApplication).Assembly.GetName().Version</a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/grayscale")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blazy")

    @*@Scripts.Render("~/bundles/unobtrusive-ajax")*@

    @RenderSection("scripts", required: false)
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41398362-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
