@using Resources
@using Photogram.WebApp.Models

@model ContactModel

@{
    ViewBag.Title = "Contact Start Bootstrap";
    ViewBag.SectionId = "contact";
    Layout = "~/Views/Shared/_LayoutHomeContent.cshtml";
}

<h2>@Localization.Contact</h2>
<p>@Model.Lead</p>
<p>
    <a href="mailto:@Model.Email">@Model.Email</a>
</p>
@if (!string.IsNullOrEmpty(Model.Phone))
{
<p>
    <abbr title="Phone">P:</abbr> @Model.Phone
</p>
}
<ul class="list-inline banner-social-buttons">
    @if (!string.IsNullOrEmpty(Model.FacebookURL))
    {
        <li>
            <a href="@Model.FacebookURL" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.GitHubURL))
    {
        <li>
            <a href="@Model.GitHubURL" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.InstagramURL))
    {
        <li>
            <a href="@Model.InstagramURL" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.LinkedInURL))
    {
        <li>
            <a href="@Model.LinkedInURL" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
        </li>
    }    
</ul>