@using Photogram.WebApp.Models
@using Resources
@using System.Globalization


@{ 
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@model HomeModel

<nav class="navbar navbar-custom navbar-fixed-top nav-spytarget" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll wide-spacing" href="#page-top">
                <span class="brand">Müller</span> <span class="light">András</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">@Localization.About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">@Localization.Contact</a>
                </li>
                <li class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true"
                            aria-expanded="false">
                        @CultureInfo.CurrentCulture.ThreeLetterISOLanguageName <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var elem in Model.Languages)
                        {
                            <li>
                                @{
                                    var culture = CultureInfo.GetCultureInfo(elem.LCID);

                                    if (culture.LCID == CultureInfo.CurrentCulture.LCID)
                                    {
                                        continue;
                                    }

                                    var lang = culture.ThreeLetterISOLanguageName;
                                }
                                @Html.ActionLink(lang, "SetLanguage", "Home", new { lcid = elem.LCID }, new { })
                            </li>
                                    }
                    </ul>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink(Localization.Administration, "Index", "Admin")
                    </li>
                }
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header Carousel -->
@if (Model.Projects.Count() > 0)
{
    <header id="carousel-projects" class="carousel slide row row-fullpage" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < Model.Projects.Count(); ++i)
            {
                var classParam = i == 0 ? "item active" : "item";
                var fileName = Model.Projects[i].ProjectInclude.Where(x => x.Cover).FirstOrDefault().Media.FileName;
                var description = Model.Projects[i].CurrentDescriptionText();
                if (description.Length > 0)
                {
                    var sentenceEnd = description.IndexOf('.');
                    if (0 <= sentenceEnd && description.Length > sentenceEnd)
                    {
                        description =  description.Remove(sentenceEnd) + "...";
                    }
                }
                <div class="@classParam">
                    <div class="fill"
                         style="background-image:url('@Url.Action("Render", "Image", new { file = fileName })/');"></div>
                    <div class="carousel-caption">
                        <h2 class="wide-spacing">@Model.Projects[i].CurrentTitleText()</h2>
                        @if (0 < description.Length)
                        {
                            <p>@description</p>
                        }
                        <a href="@Url.Action("Details", "Project", new { projectId = Model.Projects[i].Id })" class="btn btn-default btn-sm">
                            @Localization.More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            }
        </div>

        <a class="left carousel-control" href="#carousel-projects" role="button" data-slide="prev">
            @*<span class="glyphicon icon-prev" aria-hidden="true"></span>*@
            <i class="fa fa-angle-left carousel-arrow"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-projects" role="button" data-slide="next">
            @*<span class="glyphicon icon-next" aria-hidden="true"></span>*@
            <i class="fa fa-angle-right carousel-arrow"></i>
            <span class="sr-only">Next</span>
        </a>
    </header>
}

<!-- About Section -->
@{ Html.RenderAction("About"); }            
        

 <!-- Contact Section -->
@{ Html.RenderAction("Contact"); }
