@using Photogram.WebApp.Models
@using Resources
@using System.Drawing


@model Project

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var bgFileName = Model.ProjectInclude.Where(x => x.Cover).FirstOrDefault().Media.FileName;
    var bgUrl = Url.Content(string.Concat(Common.UploadPathImgRel, bgFileName));
}

<header class="intro intro-project row row-fullpage b-lazy" data-src="@string.Concat(bgUrl, "?width={w}&height={h}&mode=crop")">
    <div class="intro-body">
        <div class="col-sm-8 col-lg-offset-1">
            <h1 class="brand-heading brand-project-heading wide-spacing" role="heading">@Model.CurrentTitleText()</h1>
            <p class="lead" role="contentinfo">@Model.CurrentDescriptionText()</p>
        </div>
    </div>
</header>


<div class="row row-details-list">
    <div class="col-md-11 col-xs-12 col-fullpage">

        @foreach (var elem in Model.ProjectInclude.OrderBy(x => x.Position))
        {
            var isTitleExists = !string.IsNullOrEmpty(elem.Media.CurrentTitleText());
            var isDescExists = !string.IsNullOrEmpty(elem.Media.CurrentDescriptionText());
            var imgContainerClass = "col-sm-9 col-lg-10";
            var dataContainerClass = "col-sm-3 col-lg-2";
            var aspectRatio = elem.Media.AspectRatio();
            var path = string.Concat(Common.UploadPathImgRel, elem.Media.FileName);

            if (1 < aspectRatio && 1.5 >= aspectRatio)
            {
                imgContainerClass = "col-sm-9 col-lg-offset-1";
                dataContainerClass = "col-sm-3 col-lg-2";
            }
            else if (1 == aspectRatio)
            {
                imgContainerClass = "col-sm-6 col-sm-offset-3 col-lg-offset-4";
                dataContainerClass = "col-sm-3 col-lg-2";
            }
            else if (1 > aspectRatio)
            {
                imgContainerClass = "col-sm-4 col-sm-offset-5 col-lg-offset-6";
                dataContainerClass = "col-sm-3 col-lg-2";
            }


            <section id="@elem.Id" class="row row-fullpage">
                <div class="row-middle-content">
                    <div class="@imgContainerClass content-image-container">
                        <img class="b-lazy"
                             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-src="@Url.Content(string.Concat(path, "?width={w}&height={h}&mode=max"))"
                             alt="@elem.Media.CurrentTitleText()"
                        />
                    </div>
                    <div class="row row-spacer hidden-sm hidden-md hidden-lg"></div>
                    @if (isTitleExists || isDescExists)
                    {
                        <div class="@dataContainerClass content-data form-group">
                            @if (isTitleExists)
                            {
                                <h2>@elem.Media.CurrentTitleText()</h2>
                            }
                            @if (isDescExists)
                            {
                                <p>@elem.Media.CurrentDescriptionText()</p>
                            }
                        </div>
                    }
                </div>
            </section>
        }
        
    </div>
    @*<nav id="details-slider" class="nav-slider nav-spytarget col-md-1 col-fullpage hidden-xs hidden-sm hidden-print">
        <ul class="nav nav-project-details nav-stacked">
            @foreach (var elem in Model.ProjectInclude)
            {
                <li>
                    <a class="page-scroll" href="#@elem.Id">
                        <img class="img-responsive" src="@Url.Action("RenderResized", "Image", new { width = 150, height = 300, file = elem.Media.FileName })/" />
                    </a>
                </li>
            }
        </ul>
    </nav>*@
</div>
<nav id="details-after" class="text-center row">
    <div class="col-xs-12">
        <ul class="list-inline banner-buttons">
            <li>
                @Html.ActionLink(Localization.Back, "Index", "Home", new { }, new { @class = "btn btn-default btn-lg" })
            </li>
            <li>
                <a href="#page-top" class="btn btn-default btn-lg page-scroll" aria-label="@Localization.PageTop"><i class="fa fa-arrow-up"></i></a>
            </li>
        </ul>
    </div>
</nav>

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        var blazy = new Blazy({
            crop: true,
            dynamic: true,
            maxSideLength: 2500
        });
    });
</script>
}