@using Photogram.WebApp.Models
@using Resources

@model ProjectViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>@Localization.EditProject</h1>
</div>

<div class="container">
    @*@Html.ActionLink(Localization.Back, "Index", "Project", new { }, new { @class = "btn btn-default" })*@
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <h3>@Localization.Properties</h3>
            <div id="project-properties-form">
                @Html.Partial("_EditPropertiesPartial", Model.Properties)
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h3>@Localization.Contents</h3>
        @if (0 < Model.Includes.Count())        
        { 
            <table class="table table-responsive table-striped table-condensed">
                <caption>@Localization.IncludeTableCaption</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th><span class="glyphicon glyphicon-picture"></span></th>
                        <th>@Localization.Title</th>
                        <th>@Localization.Filename</th>
                        @*<th>@Localization.Cover</th>*@
                    </tr>
                </thead>
                <tbody id="included-files">
                    @foreach (var elem in Model.Includes)
                    {
                        var title = !string.IsNullOrEmpty(elem.Media.CurrentTitleText())
                                            ? elem.Media.CurrentTitleText()
                                            : Localization.NoTitle;
                        var desc = !string.IsNullOrEmpty(elem.Media.CurrentDescriptionText())
                                            ? elem.Media.CurrentDescriptionText()
                                            : Localization.NoDesc;
                        <tr id="@elem.Id">
                            <th scope="row">@elem.Position</th>
                            <td>
                                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 sortable-thumbnail">
                                    <div class="thumbnail" style="height: 80px; width: 80px;">
                                        <img src="@Url.Action("RenderResized", "Image",
                                new { width = 80,
                                    height = 69,
                                    file = elem.Media.FileName })/" />
                                    </div>
                                </div>
                            </td>
                            <td>@elem.Media.CurrentTitleText()</td>
                            <td>@elem.Media.FileName</td>
                            @*<td>
                                <div class="radio">
                                    <label><input type="radio" name="coverRadio" /></label>
                                </div>
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                @Localization.NoData
            </div>
        }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#included-files").sortable({
                stop: function (event, ui) {
                    $.ajax({
                        url: "@Url.Action("SetIncludePosition", "Project")",
                        type: "GET",
                        data: {
                            includeId: ui.item.attr("id"),
                            position: ui.item.index() + 1
                        },
                        success: function (data, status, xhr) {
                            if (!data.Success) {
                                $("#included-files").sortable("cancel");
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#included-files").sortable("cancel");
                        }
                    });
                }
            });
            $("#included-files").disableSelection();
        });
    </script>
}
