@using Photogram.WebApp.Models
@using Resources

@model SetupViewModel

@{
    Layout = null;

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        OnBegin = "$('#setupSubmit').button('loading');",
        UpdateTargetId = "setupModel",
        InsertionMode = InsertionMode.Replace,
        OnComplete = "$('#setupSubmit').button('reset');",
        HttpMethod = "POST"
    };
}

@using (Ajax.BeginForm("Index", "Setup", new { }, ajaxOptions, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">@Localization.MainSettings</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            @if (!Html.ViewData.ModelState.IsValid)
            {
                foreach (ModelState modelState in ViewData.ModelState.Values)
                {
                    foreach (ModelError error in modelState.Errors)
                    {
                    <div class="alert alert-danger" role="alert">
                        @error.ErrorMessage
                    </div>
                    }
                }
            }
            <div class="btn-group" data-toggle="buttons" title="@Localization.Visibility">
                <label class="btn btn-danger @Html.LabelIsActive(Model.Published)">
                    @Html.RadioButtonFor(x => x.Published, true)<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </label>
                <label class="btn btn-danger @Html.LabelIsActive(!Model.Published)">
                    @Html.RadioButtonFor(x => x.Published, false)<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </label>
            </div>
            <hr />
            <div class="form-group">
                @Html.LabelFor(x => x.MainTitle)
                @Html.TextBoxFor(x => x.MainTitle,
                    new
                    {
                        @class = "form-control",
                        placeholder = Localization.MainTitle
                    })
                @Html.ValidationMessageFor(x => x.MainTitle)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email,
                    new
                    {
                        @class = "form-control",
                        placeholder = Localization.Email
                    })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Phone)
                @Html.TextBoxFor(x => x.Phone,
                    new
                    {
                        @class = "form-control",
                        placeholder = Localization.PhoneNo
                    })
                @Html.ValidationMessageFor(x => x.Phone)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ContactLead)
                @Html.TextAreaFor(x => x.ContactLead,
                    new
                    {
                        @class = "form-control",
                        placeholder = Localization.ContactLead,
                        rows = 5
                    })
                @Html.ValidationMessageFor(x => x.ContactLead)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.AboutLead)
                @Html.TextAreaFor(x => x.AboutLead,
                    new
                    {
                        @class = "form-control",
                        placeholder = Localization.AboutLead,
                        rows = 5
                    })
                @Html.ValidationMessageFor(x => x.AboutLead)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.AboutBody)
                @Html.TextAreaFor(x => x.AboutBody,
                    new
                    {
                        @class = "form-control",
                        placeholder = Localization.AboutBody,
                        rows = 5
                    })
                @Html.ValidationMessageFor(x => x.AboutBody)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Footer)
                @Html.TextAreaFor(x => x.Footer,
                    new
                    {
                        @class = "form-control",
                        placeholder = Localization.Footer,
                        rows = 2
                    })
                @Html.ValidationMessageFor(x => x.Footer)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FacebookURL)
                @Html.TextBoxFor(x => x.FacebookURL,
                    new
                    {
                        @class = "form-control",
                        placeholder = "Facebook URL"
                    })
                @Html.ValidationMessageFor(x => x.FacebookURL)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.GitHubURL)
                @Html.TextBoxFor(x => x.GitHubURL,
                    new
                    {
                        @class = "form-control",
                        placeholder = "Github URL"
                    })
                @Html.ValidationMessageFor(x => x.GitHubURL)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.InstagramURL)
                @Html.TextBoxFor(x => x.InstagramURL,
                    new
                    {
                        @class = "form-control",
                        placeholder = "Instagram URL"
                    })
                @Html.ValidationMessageFor(x => x.InstagramURL)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LinkedInURL)
                @Html.TextBoxFor(x => x.LinkedInURL,
                    new
                    {
                        @class = "form-control",
                        placeholder = "LinkedIn URL"
                    })
                @Html.ValidationMessageFor(x => x.LinkedInURL)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LCID)
                @Html.DropDownListFor(x => x.LCID, Model.Languages,
                    new
                    {
                        @class = "form-control input-sm",
                        placeholder = Localization.Language
                    })
                @Html.ValidationMessageFor(x => x.LCID)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Localization.Cancel</button>
        <button id="setupSubmit" type="submit" data-loading-text="@Localization.SaveChanges..." class="btn btn-primary">@Localization.SaveChanges</button>
    </div>
}

